.sidebar{
    position: fixed;
    left:0;
    bottom:0;
    top:55px;
    background-color: whitesmoke;
    width:72px;
    z-index:200;
    padding-top: 5px;
}

.sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor:pointer;
}

.sidebar-link:hover{
    background-color: rgb(222, 221, 221);
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}